@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Messine-Font;
  src: url(/public/MessinaSans-Book.ttf);
}

.input {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.inputBox {
  margin: 8px;
  align-items: center;
  box-sizing: 10px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid;
  border-color: #326891;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  word-spacing: 2px;
  word-wrap: break-word;
  text-size-adjust: 100%;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.inputSubmit {
  width: 30%;
  margin: 10px;
  align-items: center;
  box-sizing: 10px;
  font-size: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 5px;
  word-spacing: 1px;
  color: #fff;
  transition: ease 0.6s;
}

.inputSubmit:hover {
  background-color: #326891;
}

.Footer {
  font-family: Messine-Font;
  width: 90%;
  height: 30%;
  text-align: left;
  background-color: rgb(10, 55, 92);
  margin-top: 20px;
  color: antiquewhite;
  text-align: center;
}

.FooterParr {
  font-family: Messine-Font;
  text-align: left;
  margin-top: 20px;
  color: antiquewhite;
  margin: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.CardTask {
  border: 2px solid black;
  font-family: Messine-Font;
  display: flex;
  flex-direction: column;
  color: #0c5e9c;
  padding: 3px;
  box-shadow: -5px -4px rgb(28, 110, 66);
} 

.CardSubBox {
  font-size: 25px;
  color: black;
  font-family: 'Bebas Neue', cursive;
}